.App {
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
}

.data-table,
.paginator-table {
  border-collapse: collapse;
  width: 100%;
}

.paginator-table {
  margin-top: 0.2em;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

.data-table th,
.data-table td {
  border: 1px solid black;
  padding: 0.5em;
}

.data-table td {
  text-align: left;
}

.current-page-input {
  width: 2.5em;
}

.arrow-box {
  width: 50px;
}

.page-indicator {
  width: calc(100% - 100px);
}

.arrow-left,
.arrow-right {
  width: 2.5em;
  height: 2.5em;
}

.arrow-left:hover {
  content: url("../public/page-left-hovered.png");
}

.arrow-right:hover {
  content: url("../public/page-right-hovered.png");
}
