.App {
  text-align: center;
}

body {
  margin-top: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.header {
  position: absolute;
  width: calc(100% - 1em);
}

h3 {
  font-weight: normal;
}

.select {
  height: 2em;
}

.question-mark {
  height: 3em;
  width: 3em;
}

.question-mark:hover {
  content: url("../public/question-mark-hovered.png");
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 1.5em;
  right: 3.5em;
  background-color: #d6eeee;
  padding: 0.25em;
  width: 20em;
  text-align: left;
}

.link {
  text-decoration: none;
  color: blue;
}

h1 {
  margin: 0.2em 0;
}

.table-container {
  justify-content: center;
  width: 100%;
}

.data-table,
.paginator-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table {
  margin: 1.5em 0 3.5em 0;
}

.paginator-table {
  margin-top: 0.2em;
  position: fixed;
  bottom: 0;
  background-color: #d6eeee;
  width: 100%;
  left: 0;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

.data-table th,
.data-table td {
  border: 1px solid black;
  padding: 0.5em;
}

.data-table td {
  text-align: left;
}

.current-page-input {
  width: 3em;
}

.arrow-box {
  width: 50px;
}

.page-indicator {
  width: calc(100% - 100px);
}

.arrow-left,
.arrow-right {
  width: 2.5em;
  height: 2.5em;
}

.arrow-left:hover {
  cursor: pointer;
  content: url("../public/page-left-hovered.png");
}

.arrow-right:hover {
  cursor: pointer;
  content: url("../public/page-right-hovered.png");
}
